
<nav class="col-md-2 bs-docs-sidebar">
    <ul id="sidebar" class="nav nav-stacked affix" style="top:80px;">
        <li>
            <a href="#Name">设计信息</a>
            <ul class="nav nav-stacked">
                <li><a href="#GroupASub1">Sub-Group 1</a></li>
                <li><a href="#GroupASub2">Sub-Group 2</a></li>
            </ul>
        </li>
        <li>
            <a href="#UI">界面设计</a>
            <ul class="nav nav-stacked">
                <li><a href="#GroupBSub1">Sub-Group 1</a></li>
                <li><a href="#GroupBSub2">Sub-Group 2</a></li>
            </ul>
        </li>
        <li>
            <a href="#Interface">接口设计</a>
            <ul class="nav nav-stacked">
                <li><a href="#GroupCSub1">Sub-Group 1</a></li>
                <li><a href="#GroupCSub2">Sub-Group 2</a></li>
            </ul>
        </li>
    </ul>
</nav>
<script type="text/javascript">

</script>