<div class="row">
    @RenderPage("~/Views/Shared/_DocNav.cshtml")
    <div class="col-md-10" style="right:10px;">
        <div class="panel-group" id="accordion">
            @RenderPage("~/Views/Sections/InterfaceSection.cshtml")
        </div>
    </div>
</div>

